*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    background-color: black;
    background: url(/images/Mbappe.png),url(/images/Rectangle\ 57.png) ,url(/images/soccer-goal-top-png-8\ 4.png);
    background-repeat: no-repeat;
    background-position: left bottom,right bottom,right bottom;
    height: 70vh;
    width: 100%;
}